@model Contacts

<form method="post">
    <div class="pt-4">
        <h2 class="text-primary">Edit Category</h2>
        <hr />
    </div>
@*    <div asp-validation-summary="All"></div>*@
    <div class="row g-3 mb-3">
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">First Name</label>
            <input asp-for="FirstName" type="text" class="form-control" placeholder="First name" aria-label="First name">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="col">
            <label for="formGroupExampleInput" class="form-label">Last Name</label>
            <input asp-for="LastName" type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="mb-3">
      <label for="formGroupExampleInput" class="form-label">Number</label>
        <input asp-for="Phone" type="Integer" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input asp-for="Email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <span asp-validation-for="Email" class="text-danger"></span>

    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary">Update</button>
        <a class="btn btn-danger" asp-controller="Contacts" asp-action="Index">Back to Contacts</a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}